.nav-tab-color{
    color: white;
  
    
}
.nav-tab-color:hover{
    color: white;
    
}
/* .nav-tabs .nav-item{
    width:50% ;
} */
#bgimage{
    width: 100%;
    background-size: 100% 100%;
}
#forumsection{
    background-color: #e8e9e9;
}